<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <p>This is an api for a basic CRUD app (plus a little spice) click the button below to access the postman collection</p>
  <div class="postman-run-button"
data-postman-action="collection/fork"
data-postman-var-1="16648806-2ecdc7e3-c209-4a04-8e51-dba13c107294"
data-postman-collection-url="entityId=16648806-2ecdc7e3-c209-4a04-8e51-dba13c107294&entityType=collection&workspaceId=50b20b5a-0b5c-4fba-bcdc-a60ff9dda517"></div>
<script type="text/javascript">
  (function (p,o,s,t,m,a,n) {
    !p[s] && (p[s] = function () { (p[t] || (p[t] = [])).push(arguments); });
    !o.getElementById(s+t) && o.getElementsByTagName("head")[0].appendChild((
      (n = o.createElement("script")),
      (n.id = s+t), (n.async = 1), (n.src = m), n
    ));
  }(window, document, "_pm", "PostmanRunObject", "https://run.pstmn.io/button.js"));
</script>
</body>
</html>